<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355630045086-bf2jt22el83pl4ntnhethjv43fgtucov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355630045086-bf2jt22el83pl4ntnhethjv43fgtucov</string>
	<key>API_KEY</key>
	<string>AIzaSyAuwtXklKiHRr9JGjA83YhD2JuEMv4WpCc</string>
	<key>GCM_SENDER_ID</key>
	<string>355630045086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josh.InstaApp</string>
	<key>PROJECT_ID</key>
	<string>instaclone-firebase-2e660</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-firebase-2e660.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355630045086:ios:b83ce2bc51fcddc68b288f</string>
	<key>DATABASE_URL</key>
	<string>https://instaclone-firebase-2e660-default-rtdb.firebaseio.com</string>
</dict>
</plist>