<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355630045086-p11hgiq1l8pej0qe8b0rss51k2c49h72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355630045086-p11hgiq1l8pej0qe8b0rss51k2c49h72</string>
	<key>API_KEY</key>
	<string>AIzaSyAuwtXklKiHRr9JGjA83YhD2JuEMv4WpCc</string>
	<key>GCM_SENDER_ID</key>
	<string>355630045086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josh.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-firebase-2e660</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-firebase-2e660.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355630045086:ios:991fb7e2e9c520588b288f</string>
</dict>
</plist>